* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  font-family: "Play", sans-serif;
}
.header {
  display: flex;
  justify-content: space-evenly;
  padding: 12px 0;
  background: #cfe7f5;
  width: 100%;
  gap: 49px;
}

.header-logo-flex {
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
}

.header-logo {
  width: 73px;
  height: 62px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-button {
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 2px solid #266294;
  background-color: #cfe7f5;
  color: #266294;
  margin: 12px 0;
}

.header-logo-text {
  font-family: "Play", sans-serif;
  font-size: 15px;
  color: #266294;
}
.header-logo-pin {
  position: absolute;
  right: 40%;
  top: -6%;
}